/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #7FA653;
    color: #333;
}

/* Header Styles */
header {
    background: #000000bf;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header img {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

/* Hero Section Styles */
.hero {
    background: url('../img/high_quality_banner_image_site.svg') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

/* Section Styles */
section {
    padding: 20px;
    text-align: center;
}

.about, .services, .projects, .contact {
    background: #fff;
    margin: 30px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* About Section Styles */
.about {
    padding: 2rem;
    margin-bottom: 2rem;
}
.about h2 {
    text-align: center;
    color: #000000bf;
    margin-bottom: 1.5rem;
}
.about-content {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.about-content p {
    color: #000000bf;
    line-height: 1.6;
}
.about-features {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}
.feature span {
    font-size: 36px;
    color: #000000bf;
    margin-bottom: 0.5rem;
}
.feature p {
    color: #000000bf;
}

/* Services Styles */
.services ul {
    list-style: none;
    padding: 0;
}
.services ul li {
    margin: 10px 0;
}

/* Projects Styles */
.projects img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Contact Styles */
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact form input, .contact form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact form button {
    padding: 10px 20px;
    background: #000000bf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact form button:hover {
    background: #52493b;
}

/* Footer Styles */
footer {
    background: #000000bf000000bfb0;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover {
    text-decoration: underline;
}