/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header img {
	width: 100vw;
}

nav ul {
    list-style: none;
    padding: 0;
	display: flex;
	justify-content:space-around;
	align-items:center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section Styles */
.hero {
    background: url('img/high_quality_banner_image_site.svg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
}

/* Section Styles */
section {
    padding: 20px;
    text-align: center;
}

.about, .services, .projects, .contact {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Services Styles */
.services ul {
    list-style: none;
    padding: 0;
}

.services ul li {
    margin: 10px 0;
}

/* Projects Styles */
.projects img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Contact Styles */
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form input, .contact form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact form button:hover {
    background: #555;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.about {
    background-color: #fafafa; /* Ivory */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}
.about h2 {
    text-align: center;
    color: #3b3a30; /* Dark brown */
    margin-bottom: 1.5rem;
}
.about-content {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.about-content p {
    color: #3b3a30;
    line-height: 1.6;
}
.about-features {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}
.feature span {
    font-size: 36px;
    color: #3b3a30;
    margin-bottom: 0.5rem;
}
.feature p {
    color: #3b3a30;
}